.container {
  background-color: rgb(24, 27, 40);
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 1000px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
}
.container > h1 {
  color: white;
  font-size: 80px;
  text-align: left;
  padding-left: 50px;
  margin-top: 0;
}
.container > p {
  color: white;
  font-size: 30px;
  text-align: left;
  padding-left: 50px;
  margin-top: 0;
}
.navBar {
  margin-top: 50px;
  width: 1385px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: stretch;
}

.logo {
  margin-left: 50px;
}
.options {
  margin-right: 50px;
}